#output {
	padding: 5px;
	border: 1px solid gray;
	border-radius: 3px;
	margin-bottom: 20px;
}

#cube {
	position: absolute;
	border: 2px dashed gray;
	width: 130px;
	height: 130px;
}

#cube.moving {
	border-color: red;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
